#bd{
    background-image: url(cal.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 770px;
    /* filter: blur(7px); */
    backdrop-filter: blur(5px);
}

#div1{
    width: 350px;
    margin-left: 90px;
}

#heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 5px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 6px solid rgb(103, 219, 108);
}

.display #screen{
    border-radius: 20px;
    height: 80px;
    width: 520px;
    font-size: 60px;
    outline: none;
    border: none;
    background: #ecf0f3;
    text-align: right;
    padding-right: 15px;
    box-shadow: inset 15px 15px 15px #718191,
                inset -15px -15px 15px #b6abab;  
}

#cont1{
    background-color: rgb(218, 54, 136);
    /* backdrop-filter: blur(30px); */
    height: 650px;
    width: 600px;
    margin: auto;
    margin-top: 70px;
    border-radius: 30px;
    box-shadow: 12px 12px 20px #cbced1,
                -12px -12px 20px #ffffff;
}

#cont2{
    /* background-color: blue; */
    height: 200px;
}

.btns .row button{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 8px;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 5px 5px 8px #00000020,
                -2px -5px 8px #ffffff;
}